html,
body {
  height: 100%;
  background-color: #a2a8d3;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
      }


* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Style the navigation bar */
.navbar {
    background-color: #8b87f7;
    padding: 10px 10px 10px 10px;
}
/* Navbar links */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
/* Navbar links on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: #38598b;
}



